html, body, h1, h2, h3, li, nav, header, ul, hr, footer, aside, iframe {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: disc;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*\
|                                      |
|        Actual Styles                 |
|                                      |
\*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

html {
    background-color: #604540;
}

body {
    font-size: 14px;
    font-family: Ubuntu, Verdana, Helvetica, Arial, sans-serif;
    color: #101010;
    
    background-color: #A9885D;
    
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .8);
    
    margin: 8px;
}

header {
    text-align: center;
}

h1 {
    font: 570% "Imprint MT Shadow", "Copperplate Gothic Light", Algerian, "URW Bookman L", serif;
    color: #604540;
    text-shadow: 2px 2px rgba(10, 10, 10, 0.7);
    
    padding: 0.2em 0 0.2em 0;
}

hr {
    border-radius: 5px;
    
    padding: 8px;
    margin: 5px 10px 9px 10px;
}

h2 {
    color: #28313f;
    font: 240% Imperator, Castellar, "Imprint MT Shadow", "Cooper Black", sans-serif;
    
    padding: 8px -2px 0 0;
    margin-left: 5%;
}

p {
    line-height: 130%;
}

ul {
    margin-left: -10px;
}

li {
    margin-left: 25px;
}

aside {
    background-color: #604540;
    
    text-align: center;
    
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .8);
    border-radius: 4px;
    
    padding: 4px 4px 4px 4px;
    margin: 20px 20px 10px 10px;
    width: 420px;
    float: right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

iframe {
    border-radius: 5px;
    margin-bottom: 2px;
}


a {
    color: #fefefe;
    text-decoration: none;
    
    padding: 1px 3px;
    display: inline-block;
    
    border: 1px solid #fefefe;
    border-left-width: 5px;
}

a:hover {
    color: #ddd;
    border-color: #ddd;  
}

footer {
    text-align: center;
    font-size: 80%;
    
    margin-top: 6px;
    padding: 5px 0;
}

.title, .grouper {
    font: 1.7em Imperator, Castellar, "Imprint MT Shadow", "Cooper Black", sans-serif;
    list-style-type: none;
    margin-left: 2%;
    margin-top: 7px;
}

.subtitle {
    font-style: italic;
    font-size: 115%;
}

.grouper {
    font-size: 140%;
}

.main {
    margin-left: 5%;
}

.extra-blurb {
    margin: 12px 0 16px 0;
}
