html, body, h1, h2, h3, li {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

img {
    border: 0;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*\
|                                      |
|        Actual Styles                 |
|                                      |
\*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

body {
    height: 100%;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #90B090;
    margin-bottom: 5px;
}

h1 {
    font-size: 2.5em;
    font-weight: normal;
    padding: 0.2em 0 0.2em 0;
    color: #000;
}

h2, h3 {
    font-family: Imperator, Castellar, "Imprint MT Shadow", "Cooper Black", sans-serif;
    font-weight: normal;
    font-size: 2.6em;
    padding: 0.1em 0 0.1em 0;
    color: #28313F;
}

h3 {
    font-size: 1.7em;
}

p {
    line-height: 1.3em;
    font-size: 1.1em;
    padding-bottom: .8em;
    padding-right: 3em;
    padding-left: 3em;
}

hr {
    border-width: 1px;
    border-style: solid;
    /*margin-left: -10px;*/
    padding-left: 0px;
    background-color: #607560;
    border-color: #607560;
}

ul {
    margin-left: -10px;
    list-style: bullet;
}

li {
    margin-left: 25px;
}

#content {
    margin-left: 420px;
    padding-bottom: 5px;
}

#sidebarred {
    margin-top: -23px;
    margin-bottom: -6px;
    background-image: url("tilebg.png");
    background-repeat: repeat-y;
    background-position: left-top;
}

#trapshoot_animation {
    margin-top: -30px;
    margin-bottom: -10px;
}

#logo {
    font-size: 6em;
    font-family: "Imprint MT Shadow", "Copperplate Gothic Light", Algerian, "URW Bookman L", serif;
    color: #604540;
}

#map {
    float: left;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
}

#cred {
    font-size: .95em;
}

#bottom {
    
    padding-bottom: 9px;
}

a:link  {
    color: #105289;
}

a:visited   {
    color: #105289;
}

a:hover {
    color: #D31141;
}

a:active {
    color: #368AD2;
}



